[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build", "cp serve.json dist/serve.json"]

[start]
cmd = "npx serve dist -s -p $PORT --config serve.json"
